[submodule "ion/src"]
	path = ion/src
	url = https://github.com/JHUAPL/dtnma-tools.git

[submodule "deps/dtnma-ace"]
	path = deps/dtnma-ace
	url = https://github.com/JHUAPL-DTNMA/dtnma-ace
	branch = main
[submodule "deps/dtnma-camp"]
	path = deps/dtnma-camp
	url = https://github.com/JHUAPL-DTNMA/dtnma-camp.git
