
*~
.idea/
*~
#*
.#*
.DS_Store
.project
.cproject
.pydevproject
.settings/

# Python intermediates
__pycache__
.pytest_cache
.coverage
coverage.xml
testresults.xml

# local build files
/anms-core/build/
/anms-ui/release/

# Javascript and ESLint related content to be ignored
node_modules
package-lock.json
