[submodule "deps/dtnma-ace"]
	path = deps/dtnma-ace
	url = https://github.com/JHUAPL-DTNMA/dtnma-ace.git
	branch = main
[submodule "deps/dtnma-tools"]
	path = deps/dtnma-tools
	url = https://github.com/JHUAPL-DTNMA/dtnma-tools.git
	branch = main
[submodule "deps/dtnma-camp"]
	path = deps/dtnma-camp
	url = https://github.com/JHUAPL-DTNMA/dtnma-camp.git
