[Unit]
Description=ION daemons
After=network-online.target
Wants=network-online.target

[Service]
Type=forking
PassEnvironment=ION_NODE_NUM
# ION writes logs in the CWD
WorkingDirectory=/var/run/ion
ExecStartPre=touch ion.log
ExecStartPre=chmod 666 ion.log
# Substitute node number where necessary
ExecStartPre=sed -i -c s/@ION_NODE_NUM@/${ION_NODE_NUM}/g /etc/ion.rc
ExecStart=ionstart -I /etc/ion.rc
ExecStop=ionstop

[Install]
WantedBy=multi-user.target
