.icon-with-text {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.card-title-link {
  text-decoration: none;
  color: inherit;
  display: inline-flex;
  align-items: center;
  flex: 1;
  cursor: pointer;
}

.card-title-link:hover {
  opacity: 0.7;
}

.card-dimensions {
  width: 500px;
  height: 230px;
}

details {
  font-family: sans-serif;
  width: 50%;
  border: 1px solid lightgrey;
  border-radius: 5px;
  margin: 0.5rem;
}
